html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.top-bar-image{
  background-image: url("../img/banner.jpg");
}

.picross-world-title{
  background-image: url("../img/picross-world-title.png");
}

/* Picross App */

.square {
  width: 50px;
  height: 50px;
  border: 5px black;
  background-color: grey;
}